html, body {
    font-family: 'Lato', helvetica, arial, sans-serif; 
    font-size: 16px; 
    color: #222;
}

.clear {clear: both;}

p {
    font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 20px;
    color: #444;
}

table {
    border-collapse: collapse;
    width: 60%;
}

td, th {
    text-align: left;
    padding: 8px;
}

td:nth-child(1) {
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    color: black;
}

td:nth-child(2) {
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: black;
}

.techSkills h1, .aboutMe h1 {
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 1.5em;
    color: #cf8a05;
}
#resume {
    margin: 30px auto;
}

#mainArea {
    padding: 0 40px;
}

.aboutMe {
    padding-bottom: 25px;
}

section {
    border-top: 1px solid #dedede;
    padding: 20px 0 0;
}

section:first-child {
    border-top: 0;
}

section:last-child {
    padding: 20px 0 10px;
}

.sectionTitle {
    float: left;
    width: 25%;
}

.sectionContent {
    float: right;
    width: 72.5%;
}

.sectionTitle h1 {
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 1.5em;
    color: #cf8a05;
}

.sectionContent h2 {
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    margin-bottom: -2px;
}

.subDetails {
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 3px;
}

.keySkills {
    list-style-type: none;
    -moz-column-count:3;
    -webkit-column-count:3;
    column-count:3;
    margin-bottom: 20px;
    font-size: 1em;
    color: #444;
}

.keySkills ul li {
    margin-bottom: 3px;
}

@media all and (min-width: 602px) and (max-width: 800px) {

    .keySkills {
    -moz-column-count:2;
    -webkit-column-count:2;
    column-count:2;
    }
}

@media all and (max-width: 601px) {
    #resume {
        width: 95%;
        margin: 10px auto;
        min-width: 280px;
    }
    
    .sectionTitle, .sectionContent {
        float: none;
        width: 100%;
    }
    
    .sectionTitle {
        margin-left: -2px;
        font-size: 1.25em;
    }
    
    .keySkills {
        -moz-column-count:2;
        -webkit-column-count:2;
        column-count:2;
    }
}

@media all and (max-width: 480px) {
    
    section {
        padding: 15px 0 0;
    }
    
    #mainArea {
        padding: 0 25px;
    }

    
    .keySkills {
    -moz-column-count:1;
    -webkit-column-count:1;
    column-count:1;
    }
}

.social-media-row{
    padding-left: 100px;
}

.social-media {
    width: 50px;
    height: 50px;
}

.icon1 {
    padding-left: 200px;
}

.icon2 {
    padding-left: 200px;
}

.icon3 {
    padding-left: 200px;
}

.icon4 {
    padding-left: 200px;
}

.profile-img {
    padding-right: 25px;
}
.pull-left {
    max-width: 40%
}

.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.headline {
    padding: 175px 0;
}

.headline h1 {
    font-size: 100px;
    color: white;

}

.headline h2 {
    font-size: 30px;
    color: gray;
    
}

footer {
    margin: 50px 0;
}

